{{#each user}}
	<div class="user">
		<p>{{username}}</p>
		<a href="/admin/user/{{_id}}" class="delete-user">Delete</a>
		<a href="/admin/user/{{_id}}" class="edit-user">Edit</a>
		
		<form class="toAdmin" action="/admin/user/{{_id}}">
			<p>isAdmin</p>
			{{#if isAdmin}}
				<input type="checkbox" name="isAdmin" id="isAdmin-{{_id}}" checked>
			{{else}}
				<input type="checkbox" name="isAdmin" id="isAdmin-{{_id}}">
			{{/if}}
			<input type="submit" value="Submit" name="submit">
		</form>
	</div>
{{/each}}