<header id="bookhbs">
	<a href="http://localhost:3000" id="back">Home</a>
	<div id="book-menu">
		{{#if user}}
			<a href="/books/{{_id}}" id="menu">Menu</a>
			<div class="menu-items">
				<a href="/user/borrows" id="mybooks">My Books</a>
				<a href="/logout" id="book-logout">Log out</a>
				{{#if user.isAdmin}}
					<a href="/admin" id="book-admin">Admin</a>
				{{/if}}
			</div>
		{{else}}
			<a href="/login" id="book-login">Login</a>		
		{{/if}}	
	</div>
</header>	
<div id="prop">
	<div id="book-cover">
		<img src="/images/book/{{book.file.filename}}" />
	</div>
	<div id="left">
		<h3 id="title">{{book.title}}</h3>
		<p id="ISBN">ISBN: </br> {{book.ISBN}}</p>
		<p id="author">{{book.author}}</p>
		<p id="am">amount:</p>
		<p id="amount">{{book.amount}}</p>
		<a href="/books/{{book._id}}" id="book-borrow">Borrow</a>
		<p id="description">description:</p>
		<p id="prop-desc">{{book.description}}</p>
	</div>
	<p id="success-borrow" style="display: none"></p>
</div>