<header id="home">
	{{#if user}}
		<a href="/logout">Logout</a>
		{{else}}
			<a href="/login">Login</a>	
	{{/if}}
</header>
<div id="home-books">
	{{#each book}}
		<div class="book-item">
			<div class="img"><img src="/images/book/{{file.filename}}" /></div>
			<a href="/books/{{_id}}"><p>{{title}}</p></a>
			<p>{{author}}</p>
		</div>
	{{/each}}		
</div>